.storybook-tab--small {
    font-size: 14px;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
  }
  .storybook-tab--medium {
    font-size: 16px;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
  }
  .storybook-tab--large {
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }

  .hoverTab:hover {
    text-decoration: underline;
  }